### Q1.
Read the life expectancy clean dataset into your notebook 
- If you want to use country as the index you may use the `index_col` parameter while reading it from the file:

```
life_df = pd.read_csv('life_clean.csv', index_col=0)
```

In [2]:
import pandas as pd

In [4]:
life_df = pd.read_csv("../data/life_clean.csv", index_col=0)

In [5]:
life_df

                       year  life_expectancy
country
Afghanistan            1950            26.85
Albania                1950            54.48
Algeria                1950            42.77
Angola                 1950            30.70
Antigua and Barbuda    1950            57.97
...                     ...              ...
Virgin Islands (U.S.)  2016            80.82
Yemen                  2016            64.92
Zambia                 2016            57.10
Zimbabwe               2016            61.69
South Sudan            2016            56.10

[13707 rows x 2 columns]

### Q2. 
calculate the mean life expectancy

In [6]:
life_df[["life_expectancy"]].mean()

life_expectancy    62.988833
dtype: float64

### Q3.
calculate the mean life expectancy for the year 2000

In [19]:
life_2000 = life_df[life_df["year"] == 2000]

In [21]:
life_2000[["life_expectancy"]].mean()

life_expectancy    68.077703
dtype: float64

### Q4. 
calculate the median for 1995

In [22]:
life_1995 = life_df[life_df["year"] == 1995]

In [23]:
life_1995[["life_expectancy"]].median()

life_expectancy    70.0
dtype: float64

### Q5.
calculate the standard deviation

In [13]:
life_df["life_expectancy"].std()

np.float64(11.89557179977113)

### Q6.
find the highest life expectancy

In [14]:
life_df["life_expectancy"].max()

np.float64(84.8)

### Q7.
find the country and year for the highest life expectancy

In [36]:
life_df[life_df["life_expectancy"] == life_df["life_expectancy"].max()]

         year  life_expectancy
country
Andorra  2013             84.8
Andorra  2014             84.8
Andorra  2015             84.8
Andorra  2016             84.8

### Q8.
find the lowest life expectancy

In [24]:
life_df["life_expectancy"].min()

np.float64(13.2)

### Q9. 
find the country and year was the lowest life expectancy

In [37]:
life_df[life_df["life_expectancy"] == life_df["life_expectancy"].min()]

         year  life_expectancy
country
Rwanda   1994             13.2

### Q10. 
find the 90% quantile of the life expectancy

In [26]:
life_df["life_expectancy"].quantile([0.9])

0.9    76.4
Name: life_expectancy, dtype: float64

### Q11.
calculate min, max, mean and possibly other descriptors with a single line

In [25]:
life_df.describe()

               year  life_expectancy
count  13707.000000     13707.000000
mean    1983.251550        62.988833
std       19.364466        11.895572
min     1950.000000        13.200000
25%     1966.000000        54.815000
50%     1983.000000        65.570000
75%     2000.000000        72.230000
max     2016.000000        84.800000