Using the gapminder_total dataset solve the following tasks with pandas.

1. Read in data:
df = pd.read_csv('../data/gapminder_total.csv')

2. What is the median population in the data set?

3. How often does each continent appear in the data set?

4. Which continent has the lowest average fertility rate overall?

5. What was the average life expectancy in Europe in 2015? 
Hint: first filter for 2015 then apply groupby.

6. How many countries does each continent have in the dataset?
Hint: filter for one year and count

7. What is the average population of a European country in 1976 compare to 2015?
Hint: once again filter for the year in question and do each year separately to compare

BONUS

8. What is the highest population a continent ever had?
Hint: group by multiple columns

9. Which continent had that population and in which year?
Hint: group by multiple columns and filter for the result from #6

In [2]:
import pandas as pd

In [3]:
#1. Read in data: df = pd.read_csv('../data/gapminder_total.csv')

df = pd.read_csv('../data/gapminder_total.csv')

In [21]:
df

           continent    country  year  life_expectancy  fertility  population
0             Africa    Algeria  1950            42.77       7.65   8872247.0
1             Africa    Algeria  1951            43.03       7.65   9039913.0
2             Africa    Algeria  1952            43.50       7.65   9216395.0
3             Africa    Algeria  1953            43.96       7.65   9405445.0
4             Africa    Algeria  1954            44.44       7.65   9609507.0
...              ...        ...   ...              ...        ...         ...
11083  South America  Venezuela  2011            74.80       2.44  29427631.0
11084  South America  Venezuela  2012            74.60       2.42  29854238.0
11085  South America  Venezuela  2013            74.70       2.39  30276045.0
11086  South America  Venezuela  2014            74.80       2.36  30693827.0
11087  South America  Venezuela  2015            74.80       2.34  31108083.0

[11088 rows x 6 columns]

In [22]:
#2. What is the median population in the data set?

df["population"].median()

np.float64(5190648.5)

In [9]:
#3. How often does each continent appear in the data set?

df["continent"].value_counts()

continent
Africa                   3234
Europe                   2640
Asia                     2574
North America            1254
South America             792
Australia and Oceania     594
Name: count, dtype: int64

In [19]:
#4. Which continent has the lowest average fertility rate overall?

df.groupby("continent")["fertility"].agg("mean")

continent
Africa                   5.931345
Asia                     4.673862
Australia and Oceania    4.682172
Europe                   2.169754
North America            4.002329
South America            4.077235
Name: fertility, dtype: float64

In [27]:
#5. What was the average life expectancy in Europe in 2015? 

df_2015 = df[df["year"] == 2015]

In [28]:
df_2015.groupby("continent")["life_expectancy"].agg("mean")

continent
Africa                   63.410204
Asia                     73.933333
Australia and Oceania    69.666667
Europe                   78.755000
North America            75.152632
South America            75.141667
Name: life_expectancy, dtype: float64

In [32]:
#6. How many countries does each continent have in the dataset?

df_2015["continent"].value_counts()

continent
Africa                   49
Europe                   40
Asia                     39
North America            19
South America            12
Australia and Oceania     9
Name: count, dtype: int64

In [33]:
#7. What is the average population of a European country in 1976 compare to 2015?

df_1976 = df[df["year"] == 1976]

In [36]:
df_1976.groupby("continent")["population"].agg("mean").round()

continent
Africa                    7850933.0
Asia                     60323406.0
Australia and Oceania     2360114.0
Europe                   13840494.0
North America            18505322.0
South America            18496211.0
Name: population, dtype: float64

In [37]:
df_2015.groupby("continent")["population"].agg("mean").round()

continent
Africa                    21417684.0
Asia                     109528467.0
Australia and Oceania      4252114.0
Europe                    15122676.0
North America             29900366.0
South America             34847974.0
Name: population, dtype: float64

In [42]:
# Teacher solution.

df[(df['year']==1976) | (df['year']==2015) & (df['continent']=='Europe')].groupby('year')['population'].mean().round(2)

year
1976    23129315.36
2015    15122675.72
Name: population, dtype: float64

In [38]:
#8. What is the highest population a continent ever had?

df.groupby(["continent","country"])["population"].max()

continent      country
Africa         Algeria      39666519.0
               Angola       25021974.0
               Benin        10879829.0
               Botswana      2262485.0
               Burundi      11178921.0
                               ...
South America  Paraguay      6639123.0
               Peru         31376670.0
               Suriname       542975.0
               Uruguay       3431555.0
               Venezuela    31108083.0
Name: population, Length: 168, dtype: float64

In [43]:
# Teacher solution.

max_pop_continent= df.groupby(['continent'])['population'].max()
max_pop_continent.max()

np.float64(1376048943.0)

In [39]:
#9. Which continent had that population and in which year?

df.groupby(["country","year"])["population"].max()

country      year
Afghanistan  1950     7752118.0
             1951     7839426.0
             1952     7934798.0
             1953     8038312.0
             1954     8150037.0
                        ...
Zimbabwe     2011    14255592.0
             2012    14565482.0
             2013    14898092.0
             2014    15245855.0
             2015    15602751.0
Name: population, Length: 11088, dtype: float64

In [44]:
# Teacher solution.

max_pop_continent= df.groupby(['continent', 'year'])['population'].agg(['max'])
max_pop_continent.idxmax()

max    (Asia, 2015)
dtype: object