# Python Lists

From a high level, lists are collections of ordered items. Lists are particularly useful for iterating through data.

#### Why are lists important?
To process larger amounts of data, we cannot invent a new variable  name for every entry (and write the code for it).  Instead, we need a way to store multiple data records in one variable. Lists allow us to do this efficiently.  

Python can improve performance when operations like mean or sum are performed on lists. Data structures like lists make Python very fast. A list can store millions of entries, whereas Excel might freeze if you perform calculations on too many objects.

List items are ordered, mutable, allow duplicate values and can hold items of any type.

- **Ordered:** Items have a defined order that does not change. If you add new items to a list, the new items will be placed at the end of the list.
  
  
- **Mutable:** It means, we can change, add, and remove items in a list after it has been created.
  
  
- **Duplicates:** Lists can have items with the same value.
  
  
- **Mixed Types:** Items in a list can be of the same type or a mix of different types.

## Objectives

At the end of this notebook you should be able to:

- create lists and access individual elements in lists
- use list operations

### Create New Lists

You can construct a list in one of two ways. 
1. By passing an arbitrary number of items into square brackets, `[]`, separated by commas. 
2. By passing an iterable into the `list()` constructor 
>- A **constructor** is a special function used to create and initialize objects. 
>  
>- An **iterable** in Python is like a collection of items that you can go through one by one. Think of it as a sequence of elements, such as a list of numbers, a string of characters, or a set of unique items. You can access each element in the sequence individually.

In [1]:
namecounts = ['Hannah', 123, 'Emily', 234, 'Madison', 23]

In [10]:
namecounts_paired = [['Hannah', 123], ['Emily', 234], ['Madison', 23]]

In [2]:
# check out the list
namecounts

['Hannah', 123, 'Emily', 234, 'Madison', 23]

In [7]:
a= hilal

NameError: name 'hilal' is not defined

In [6]:
namecounts

['Hannah', 123, 'Emily', 234, 'Madison', 23]

In [3]:
type(namecounts)

list

In [4]:
my_second_lst = list('hello')

In [5]:
# checkout the list
my_second_lst

['h', 'e', 'l', 'l', 'o']

> **Note** that when we pass an iterable to the `list()` function, it breaks up each individual element in the iterable into a separate element in the list.

Because it is possible to place multiple different types, including data structures, into lists, we can even create lists of lists.

In [8]:
my_list_of_lists = [[1, 2, 3], ['str1', 'str2', 'str3'], [1, 'mixed', 3]]

In [9]:
my_list_of_lists

[[1, 2, 3], ['str1', 'str2', 'str3'], [1, 'mixed', 3]]

### Accessing individual elements of lists

List items are indexed, the first item has index `[0]`, the second item has index `[1]` etc.

<p style="text-align:center;"><img src='./list_index.png' width='50%'></p>

In [11]:
# create a list
weekdays_list = ['MON','TUE','WED','THU','FRI','SAT','SUN']

In [12]:
# what happens when we add [6] to the variable?
weekdays_list # please modify...

['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']

In [13]:
# what's the index of 'TUE' ?
weekdays_list[1]

'TUE'

In [14]:
# create another list
my_list_of_lists = [[1, 2, 3], ['str1', 'str2', 'str3'], [1, 'mixed', 3]]

In [15]:
my_list_of_lists

[[1, 2, 3], ['str1', 'str2', 'str3'], [1, 'mixed', 3]]

In [16]:
# What's the output of my_list_of_lists[0] ? Compare with the index positions pic above.
my_list_of_lists[0]    # please modify...

[1, 2, 3]

In [17]:
# how to get the value 2 from it ? Compare with the index positions pic above.
my_list_of_lists[1]    # please modify...

['str1', 'str2', 'str3']

In [21]:
# the same with variables in 2 steps
first_elem = my_list_of_lists[0] # step 1
michael = first_elem[1] # step 2
print(michael)

2

In [22]:
my_list_of_lists

[[1, 2, 3], ['str1', 'str2', 'str3'], [1, 'mixed', 3]]

In [23]:
# step 1
first_elem = my_list_of_lists[0]
first_elem

[1, 2, 3]

In [24]:
# step 2
michael = first_elem[1]
michael

2

In [19]:
# we can also do it in one line
pepper=my_list_of_lists[0][1]
pepper

2

### List Operations

In [25]:
weekdays_list

['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']

In [26]:
my_list_of_lists

[[1, 2, 3], ['str1', 'str2', 'str3'], [1, 'mixed', 3]]

In [27]:
# you can add lists
new_list = weekdays_list + my_list_of_lists
print(new_list)

['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN', [1, 2, 3], ['str1', 'str2', 'str3'], [1, 'mixed', 3]]

In [28]:
# substracting items is not that straighforward
new_list - my_list_of_lists

TypeError: unsupported operand type(s) for -: 'list' and 'list'

### List Methods

As with strings, there are also a lot of list methods, that let us perform certain actions on lists. If you want to see which operations you can use on lists, just use the tab complete in a Jupyter Notebook and you will get a drop down menu of the methods.

In [ ]:
new_list. # Place the cursor after the dot andd hit the TAB key!

here are some methods we apply on our `new_list`
```python
new_list.append   new_list.index    new_list.remove   
new_list.count    new_list.insert   new_list.reverse  
new_list.extend   new_list.pop      new_list.sort
```

**Important:** in order to execute a method you need to add `()` at the end of the method (eg. `new_list.pop()`).  

For a more detailed discussion and/or to see all of the methods available for lists, see the [docs](https://docs.python.org/2/tutorial/datastructures.html#more-on-lists).

We will explore the most common methods below:

### Adding and removing elements: append(), remove() and pop()

In [31]:
a=[]

In [32]:
type(a)

list

In [41]:
numbers = [1, 2, 4, 8, 16, 32]
numbers

[1, 2, 4, 8, 16, 32]

In [30]:
type(numbers)

list

**`append()`** : Add a **new element** to the end of the list:

In [42]:
# let's append number 45
numbers.append(45)    # please modify...

In [34]:
numbers

[1, 2, 4, 8, 16, 32, 45]

In [43]:
numbers.append(8)

In [36]:
numbers

[1, 2, 4, 8, 16, 32, 45, 8]

**`remove()`** : Remove a **defined** element:

In [44]:
# let's remove number 4
numbers.remove(4)  # please modify...

In [45]:
numbers

[1, 2, 8, 16, 32, 45, 8]

In [46]:
numbers.remove(8)[1]

TypeError: 'NoneType' object is not subscriptable

In [48]:
numbers

[1, 2, 16, 32, 45, 8]

**`pop()`** : Remove an element **at a given index position**:

In [49]:
# let's remove the number at the index 3 position
numbers.pop()    # please modify...

8

In [50]:
numbers

[1, 2, 16, 32, 45]

In [51]:
numbers.pop()

45

In [52]:
numbers

[1, 2, 16, 32]

Or remove the last element:

In [53]:
numbers.pop(0)    # please modify...

1

In [54]:
numbers

[2, 16, 32]

#### Try it yourself

In [57]:
# remove 'Star Trek'
movies = ["Star Wars", "Star Trek", "Ratatouille"]
print(movies)

['Star Wars', 'Star Trek', 'Ratatouille']

In [58]:
# using pop()
movies.pop(1)
print(movies)

['Star Wars', 'Ratatouille']

In [59]:
# add code instead of ___
movies.remove("Star Trek")
print(movies)

ValueError: list.remove(x): x not in list

### Checking the number of elements with `len()` function

In [60]:
# recreating the list
numbers = [1, 2, 4, 8, 16, 32]

In [61]:
len(numbers)

6

In [62]:
my_list_of_lists = [[1, 2, 3], ['str1', 'str2', 'str3'], [1, 'mixed', 3]]

In [63]:
my_list_of_lists

[[1, 2, 3], ['str1', 'str2', 'str3'], [1, 'mixed', 3]]

In [64]:
len(my_list_of_lists)

3

In [65]:
my_list_of_lists[0]

[1, 2, 3]

In [69]:
len(my_list_of_lists[0])

3

In [66]:
my_list_of_lists[9]

IndexError: list index out of range

In [67]:
# we can also checked the lenght of the string
b= "hilal"

In [68]:
len(b)

5

In [70]:
weekdays_list = ['MON','TUE','WED','THU','FRI','SAT','SUN']

In [71]:
len(weekdays_list)

7

### Difference between `extend` and `append`

Both methods let you add elements to a list. However, they slightly differ, which is illustrated in the example below. How would you describe this difference?

In [72]:
numbers

[1, 2, 4, 8, 16, 32]

In [73]:
numbers.extend([2, 3])
numbers

[1, 2, 4, 8, 16, 32, 2, 3]

In [80]:
numbers.extend(2, 3)
numbers

TypeError: list.extend() takes exactly one argument (2 given)

In [74]:
numbers.append([2, 3])
numbers

[1, 2, 4, 8, 16, 32, 2, 3, [2, 3]]

In [75]:
numbers.append(2, 3)
numbers

TypeError: list.append() takes exactly one argument (2 given)

In [76]:
numbers.append(2)
numbers

[1, 2, 4, 8, 16, 32, 2, 3, [2, 3], 2]

In [77]:
numbers.append(3)
numbers

[1, 2, 4, 8, 16, 32, 2, 3, [2, 3], 2, 3]

#### Try it yourself:

In [ ]:
# defining two lists
numbers = [1, 2, 4, 8, 16, 32]
numbers_2 = [10, 11]

In [ ]:
# 1. Task: the outcome should be [1, 2, 4, 8, 16, 32, [10, 11]]

In [ ]:
# 2. Task: the outcome should be: [1, 2, 4, 8, 16, 32, 7]

In [ ]:
# 3. Task: the outcome should be: [1, 2, 4, 8, 16, 32, 10, 11]

In [ ]:
# 4. Task (in 2 steps): the outcome should be: [1, 2, 4, 8, 16, 32, 7, [7]]

### Accessing value ranges in lists - Slicing

Same as working with characters in strings.

In [78]:
my_lst = [1, 2, 'hello', 'goodbye']

In [79]:
# indexing
my_lst[1]

2

In [81]:
# slicing
my_lst[2:3]

['hello']

>**Note**: Remember that the ending index is non-inclusive.

In [82]:
my_lst[:]

[1, 2, 'hello', 'goodbye']

In [83]:
my_lst[-1]

'goodbye'

Just as with strings, we can also add a third argument, the **step argument**, to our list indexing. This specifies the interval between each element in the slice.

By using the step argument, we can step through the list and only grab elements at regular intervals.

In [84]:
my_lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [85]:
# grab every third element of whole list
my_lst[::3]

[1, 4, 7, 10]

In [86]:
# grab every third element ending with element #4
my_lst[:4:3]

[1, 4]

### Checking whether an element exists with the `in` membership operator

In Python, you can easily check if a specific value is present in a list using the **`in`** keyword. This operation is straightforward and allows you to determine whether an item exists within a list, enabling you to make decisions based on that presence. The output of this check is a boolean value (**`True`** or **`False`**).

In [87]:
# let's use the list with numbers again
numbers = [1, 2, 4, 8, 16, 32]

In [88]:
# what is the result of this membership test?
34 in numbers

False

#### Example: how to use it in an `if statement`

In [91]:
numbers

[1, 2, 4, 8, 16, 32, 40]

In [93]:
a = int(input('what number?'))
print(f'you picked the number: {a}') # f string

if a not in numbers:
    print(f'the number {a} is not yet in the list.\nadding...') #\n goes to the next line
    numbers.append(a)
    print(f'new list is {numbers}')
else:
    print(f'the number {a} is in the list. at the index postion {numbers.index(a)}')
    print(f'the current list is {numbers}')

what number? 100

you picked the number: 100
the number 100 is not yet in the list.
adding...
new list is [1, 2, 4, 8, 16, 32, 40, 100]

### Recap

command  |  description
---|---|
`numbers = [1, 2, 3, 4, 4]`      |   list creation
`numbers.append([2, 3])`      |   append the item to the end of the list
`numbers.extend([2, 3])`      | append each element to the end of the list
`numbers.remove(4)` | remove a defined element
`numbers.pop(3)` | remove an element at a given index position
`3 in numbers` | checking wether an element exists
`numbers[3]`       |     indexing
`numbers[2:4]`       |    slicing
`len(numbers)`       |     returns the length of a list
`numbers.count(4)`   | searches for and counts the number of an element in a list
`numbers.index(32)`   | returns the index of the specified element in the list